### Independent Projects

This is a fun little side project of mine. I am curious about using news articles to understand how current events impact stock prices

In [8]:
import yahoofinancials
from yahoofinancials import YahooFinancials
import selenium
from selenium import webdriver
import time
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.keys import Keys
import requests

In [2]:
aapl = YahooFinancials('AAPL')

data = aapl.get_historical_price_data('2018-01-01', '2020-01-01', 'daily')

pd.DataFrame(data['AAPL']['prices'])

,date,high,low,open,close,volume,adjclose,formatted_date
0,1514903400,43.075001,42.314999,42.540001,43.064999,102223600,41.018429,2018-01-02
1,1514989800,43.637501,42.990002,43.132500,43.057499,118071600,41.011280,2018-01-03
2,1515076200,43.367500,43.020000,43.134998,43.257500,89738400,41.201786,2018-01-04
3,1515162600,43.842499,43.262501,43.360001,43.750000,94640000,41.670872,2018-01-05
4,1515421800,43.902500,43.482498,43.587502,43.587502,82271200,41.516098,2018-01-08
...,...,...,...,...,...,...,...,...
498,1577197800,71.222504,70.730003,71.172501,71.067497,48478800,69.738724,2019-12-24
499,1577370600,72.495003,71.175003,71.205002,72.477501,93121200,71.122368,2019-12-26
500,1577457000,73.492500,72.029999,72.779999,72.449997,146266000,71.095390,2019-12-27
501,1577716200,73.172501,71.305000,72.364998,72.879997,144114400,71.517326,2019-12-30
502,1577802600,73.419998,72.379997,72.482498,73.412498,100805600,72.039886,2019-12-31

In [16]:
#CNN url
url = 'https://www.cnn.com/'
industry = 'oil'

driver = webdriver.Chrome()

driver.get(url)

# clicks on the search icon which opens up categories of news
driver.find_element("xpath", r'/html/body/div[5]/div/div/header/div/div[1]/div/div[6]/button').click()

time.sleep(2)

# search for the given industry
driver.find_element("xpath", r'/html/body/div[5]/div/div[1]/header/div/div[2]/div/div[1]/form/input').send_keys(Keys.ENTER, industry)

time.sleep(1)

driver.find_element("xpath", r'/html/body/div[1]/section[3]/section[1]/div/section/section/div/div[1]/div[1]/input').send_keys(Keys.ENTER, industry)

### Article Parser Function
- note: this function should work for any page and will return anything designated as a paragraph (or <p>) in lowercase list format
- the list is a list of each word included

In [41]:
def article_parser(url):
    import requests
    from bs4 import BeautifulSoup

    #http request
    r = requests.get(url)

    #get html format
    soup = BeautifulSoup(r.text, "html.parser")

    #finds all the 
    html_list = list(soup.find_all("p"))
    lowercase_letter_list = []


    for item in html_list:
        temp = item.text.strip().split(' ')
        for word in temp:
            lowercase_letter_list.append(word.lower())

    return lowercase_letter_list

### Linguistic Dictionary Tool

- before getting too hot and heavy, I want to make a tool that reads a given article and makes a dataframe for the words and their count

In [7]:
text = "hello this is alex hello this is michael this is"
word_counter = {}

# establish the words present in the text
text.split(' ')
for word in text.split(' '):
    word_counter[word] = 0 

print(word_counter)

# count number of instances in each word
for word in text.split(' '):
    word_counter[word] += 1

df = pd.DataFrame(word_counter, index=[1])
df

{'hello': 0, 'this': 0, 'is': 0, 'alex': 0, 'michael': 0}

   hello  this  is  alex  michael
1      2     3   3     1        1